*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    padding: 20px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: linear-gradient(to right bottom, rgba(64,167,152), rgba(34,107,128)); 
    /* #096386; */
    color: whitesmoke;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.about {
    color: #40a798;
}